@charset "utf-8";
@import url('common.css');


body {overflow: hidden;}
/* visual */
header  {
    background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;
}

.visual {

    background:url('../img/main/visual-1.jpg') no-repeat 0 89%/ 100%;
    padding: 0 0 1%;

    display: flex; flex-direction: column;
    width: 100%;
}


.visual .indi { 
    width: 100%; 
    display: flex; justify-content: space-between;
    margin-top: 10%;
}
.visual .indi >a { display:block; width: 3%; margin: 0 4%;}
.visual .indi >a:last-child { transform: rotateY(180deg);}

.visual .indi >a img {width: 100%;}
.visual .slide { 
    display: flex; justify-content: center; align-items: center;
    margin: 18% 0 0;
}
.visual .slide a {
    display: block;
    width: 4%;
    margin: 0 1%;
    border-radius: 20px;
}
.visual .slide a span {
    display: block;
    height: 2px; 
    font-size: 0.1rem; 
    color: transparent;
    background: black; 
}
.visual .slide a:nth-child(1) span {background:#f78b1e ;}

/* 비주얼 캐릭터 모션 */
.visual .motion {}
.visual .motion img {position: absolute; width: 5%;}
.visual .motion img:nth-child(1) {
    top: 0; left: -6%; 
    transform: rotate(0deg); 
    animation: motion1 6s 5s infinite ;
}
@keyframes motion1 {
    0% { left: -6%; transform: rotate(0deg);}
    70% { left: -3%; transform: rotate(55deg);}
    100% { left: -6%; transform: rotate(0deg);}
    
}


.visual .motion img:nth-child(2) {
    bottom: 0%; right: -14%; 
    width: 10%;
    transform: rotate(-90deg);
    animation: motion2 6s 5s infinite linear;
}

@keyframes motion2 {
    0% { right: -14%;}
    50% { right: -9%;}  
    100% { right: -14%;}  
}



/* 지역별 관광 */
.local {width: 100%;}
.local .local_div {
    position: relative;
    margin: 13% 10%;
    display: flex; 
    justify-content: center; align-items: center; flex-direction: column;
}
.local .local_div h4 {
    width: 100%; text-align: center; padding: 0 0 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: 0.9px;
    color: #111111;
}
.local .local_div > p {
    width: 100%; text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.45px;
    color: #111111;
}


.local .local_div .area {width: 100%;}

.local .local_div .area .map {
    position: relative;
    display: inline-block;
    width: 32%; padding-left: 0%;
    animation: map 1s;
    transform: scale(1.3) translate(5%,-2%);
}

@keyframes map {
    0% {
        transform: scale(1) translate(75%, 10%);
    }
    50% {
        transform: scale(1.4) translate(75%, 10%);
    }
    100% {
        transform: scale(1.3) translate(5%,-2);
    }
    
}
/* 지도 */
.local .local_div .area .map >svg { width: 100%;}
.local .local_div .area .map >svg path {}
.local .local_div .area .map .map_txt {
    fill:#fff; font-size: 1.2rem;  opacity: 0;
    filter: drop-shadow(1px 1px 1px black);
    font-family: 'Noto Sans KR', sans-serif;;
}
/* 서울 인천 경기 area-1*/
.local .local_div .area .map .area-1 {}
.local .local_div .area .map .area-1:hover {filter: drop-shadow(2px 9px 2px rgb(107, 104, 104))}
.local .local_div .area .map .area-1:hover path, 
.local .local_div .area .map .area-1:hover polygon {
    fill: #56ade2;
    transform: translate(-1%, -1%); transition: .2s;
}
.local .local_div .area .map .area-1 .area-1-ko {}
.local .local_div .area .map .area-1:hover .area-1-ko {
    opacity: 1; transform: translate(-1%, -1%); transition: .2s;
}


/* 강원 area-2*/
.local .local_div .area .map .area-2 {
    position: relative;
    filter: drop-shadow(-2px 9px 2px rgb(107, 104, 104));
}
.local .local_div .area .map .area-2::after {
    content: ;
    width: 100%; background: black;
    position: absolute; left: 0%; top: 0%; transform: translate(-50% -50%);
}
.local .local_div .area .map .area-2 path{
    fill: #e5a49e;
    transform: translate(+1%, -1%); transition: .2s;
}
.local .local_div .area .map .area-2:hover path{
    fill: #e5a49e;
    transform: translate(+1%, -1%); transition: .2s;
}
.local .local_div .area .map .area-2 .area-2-ko {opacity: 1;}


/* 대전 세종 충북 충남 area-3 */
.local .local_div .area .map .area-3 {}
.local .local_div .area .map .area-3:hover {filter: drop-shadow(5px 0 2px rgb(107, 104, 104));}
.local .local_div .area .map .area-3:hover path, .local .local_div .area .map .area-3:hover polygon {
    fill: #69c071;
    transform: translate(-2%, 0%); transition: .2s;
}
.local .local_div .area .map .area-3:hover .area-3-ko {
    opacity: 1; transform: translate(-2%, 0%); transition: .2s;
}

/* 경북 경남 대구 울산 부산 area-4 */
.local .local_div .area .map .area-4 {}
.local .local_div .area .map .area-4:hover {filter: drop-shadow(-2px -5px 2px rgb(107, 104, 104)); }
.local .local_div .area .map .area-4:hover path {
    fill: #fdce4a;
    transform: translate(+1%, +1%); transition: .2s;
}
.local .local_div .area .map .area-4:hover .area-4-ko {
    opacity: 1; transform: translate(+1%, +1%); transition: .2s;
}


/* 전북 전남 광주 area-5 */
.local .local_div .area .map .area-5 {
}
.local .local_div .area .map .area-5:hover {filter: drop-shadow(2px -5px 2px rgb(107, 104, 104));}
.local .local_div .area .map .area-5:hover path, .local .local_div .area .map .area-5:hover polygon{
    fill: #bc95c4;
    transform: translate(-1%, +1%); transition: .2s;
}
.local .local_div .area .map .area-5:hover .area-5-ko {
    opacity: 1; transform: translate(-1%, +1%); transition: .2s;
}

/* 제주 area-6 */
.local .local_div .area .map .area-6 {}
.local .local_div .area .map .area-6:hover {filter: drop-shadow(-2px 5px 2px rgb(107, 104, 104));}
.local .local_div .area .map .area-6:hover path {
    fill: #44c2bc;
    transform: translate(1%, -1%); transition: .2s;
}
.local .local_div .area .map .area-6:hover .area-6-ko {
    opacity: 1; transform: translate(1%, -1%); transition: .2s;
}

/* 정보 */
.local .local_div .area .map_info {
    display: inline-block;
    margin: 5% 0 0;
    padding-left: 12%;
    width: 67%;
    vertical-align: top;
    animation: map_info 1.5s;
}

@keyframes map_info {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
.local .local_div .area .map_info > p:nth-of-type(1) {
    padding: 0 2%;
    display: inline-block;

    background: #f2d1ce;
    font-size: 1.2rem;
    font-weight: 549;
    line-height: 2;
}
.local .local_div .area .map_info > p:nth-of-type(2) {
    line-height: 1.8;
    margin: 2% 0 5%;
}
.local .local_div .area .map_info .map_list {
    display: flex; justify-content: space-between; align-items: flex-start;
}
.local .local_div .area .map_info .map_list figure{
    display: flex; flex-direction: column;
}
.local .local_div .area .map_info .map_list figure:hover img{
    box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
    transform: translate(-0%, -5%);
}
.local .local_div .area .map_info .map_list figure:hover figcaption {
    box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
    transform: translate(-0%, -5%);
    background: #f8aa5b;
    font-weight: 600;
}

.local .local_div .area .map_info .map_list figure img {
    width: 88%; transition: .2s;
    border-radius: 8px;
}
.local .local_div .area .map_info .map_list figure figcaption {
    width: 88%;
    margin: 7% 0;

    border: 1px solid #878787;
    border-radius: 8px;
    text-align: center;
    line-height: 3;
    font-size: 0.9rem;
    transition: .2s;
}




/* sns_section */
.sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
.sns .sns_div {width: 100%;}
.sns .sns_div h4 { 
    width: 100%; text-align: center; padding: 0 0 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: 0.9px;
    color: #111111;
}
.sns .sns_div p {
    width: 100%; text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.45px;
    color: #111111;
}

.sns .sns_div .sns_slide{ padding: 0px; position: relative;}
.sns .sns_div .sns_slide .indi{
    width: 100%; height:100%; padding: 0 10%; 
    display: flex; justify-content: space-between;
    position: absolute;
    pointer-events: none;
}
.sns .sns_div .sns_slide .indi a{
    width:11%; height:100%;
    display:flex;
    justify-content: center;    
    align-items: center;
    pointer-events:fill;
}
.sns .sns_div .sns_slide .indi a:nth-of-type(1){
    background:linear-gradient(90deg,rgb(174, 225, 240),rgba(174, 225, 240,0.5));
}
.sns .sns_div .sns_slide .indi a:nth-of-type(2){
    background:linear-gradient(90deg,rgba(174, 225, 240,0.5),rgb(174, 225, 240));
}
.sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
    transform: rotate(180deg);
}
.sns .sns_div .sns_slide .indi a img{display: block; width: 30%;}

.sns .sns_div .sns_slide ul { 
    width: 80%; margin: 0 auto; padding:4% 0 ;
    overflow: hidden;
    display: flex; justify-content: center;
}
.sns .sns_div .sns_slide ul li {
    width:22%; margin:0 1.7%; flex:0 0 auto;
    transition:.3s;
}

.sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
.sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

.sns .sns_div .sns_slide ul li:hover{
    transform: scale(1.2); margin:0 3%;
}


/* 두레소식 */

.news {width: 100%;}
.news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
.news .news_div h4{
    padding: 0 0 1%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.39;
    letter-spacing: 0.9px;
    text-align: center;
    color: #111111;
}
.news .news_div p{
    margin: 0 0 5%;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height:2;
    letter-spacing: 0.45px;
    text-align: center;
    color: #111111;
}
.news .news_div .news_list {
    width: 100%; padding-bottom: 200px;
    display: flex; justify-content: center;
}
.news .news_div .news_list li {
    position: relative; 
    width: 21%;
    padding: 4% 4% 6% 4%; margin: 2%;
   

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #111111;
    word-break: keep-all;
    transition:.5s;

}
.news .news_div .news_list li::before {
    content:'';
    border: 1px solid #64605f; 
    width:100%; height:100%;
    position:absolute; left:0; top:0;   
    transition:.2s;
}
/* 소식 hover border */
.news .news_div .news_list li:hover::before {
    border: 9.6px solid #f68b1e ;
}
.news .news_div .news_list li a img {
    position: absolute; opacity: 0.3;
}
.news .news_div .news_list li a:first-child img {
    right: 0; top: 0; margin: 6%;
    transform: rotate(0); 
}
.news .news_div .news_list li a:last-child img {
    right: 0; bottom: 0;
    width: 15%; margin: 5%;
}
/* 소식 hover */
.news .news_div .news_list li:hover {
    
    box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
    transform: translate(-0%, -5%);
}
.news .news_div .news_list li:hover a img {opacity: 0.7;}
.news .news_div .news_list li:hover a:first-child img {
    background-color: #f68b1e;
    border-radius: 50%;
    transform: rotate(90deg); transition: 0.5s;
}


/* 간행물*/
.journal {width: 100%; }
.journal .journal_div { 
    width: 100%; margin: 0 0 18%;
    position: relative; 
    display: flex; justify-content: flex-end;
}
.journal .journal_div .journal_title { }
.journal .journal_div .journal_title h4 {
    writing-mode: vertical-lr;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 14px;
    text-align: center;
    color: #111111;
}
.journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
.journal .journal_div .journal_title a img {opacity: 0.5;} 
.journal .journal_div ul {
    background: rgba(8, 163, 209, 0.67); width: 64%;
    padding: 5%;
    display: flex; justify-content: space-between; align-items: baseline;
}
.journal .journal_div ul li {width: 30%;}
.journal .journal_div ul li figure {position: relative;}
.journal .journal_div ul li figure img {
    display: block; width: 100%;
}
.journal .journal_div ul li figure::after {
    content: url("../img/main/clip_white.png");
    display: flex; justify-content: center; align-items: center;
    position: absolute; top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5) ;
    width: 100%; height: 100%;
    z-index: -1;
}

.journal .journal_div ul li p {
    margin-top: 10%;

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: 0.45px;
    text-align: center;
    color: #111111;
}
/* 간행물 hover */
.journal .journal_div .journal_title a:hover img {
    opacity: 0.7;
    background-color: #f68b1e;
    border-radius: 50%;
    transform: rotate(90deg); transition: 0.5s;
}

.journal .journal_div ul li figure:hover::after {z-index: 1;}
.journal .journal_div ul li figure:hover + p {
    text-decoration: underline; color: white;
}


/* reponsive */

@media (max-width:767px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        background: url('../img/main/visual-1.jpg') no-repeat center 89%/ 140%;
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 19%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 24% 0 0;
    }

    .visual .slide a {
        display: block;
        width: 2%;
        margin: 0 0.5%;
        border-radius: 20px;
    }
    .visual .slide a span {
        display: block;
        height: 1px; 
        font-size: 0.1rem; 
        color: transparent;
        background: black; 
    }
    .visual .slide a:nth-child(1) span {background:#f78b1e ;}


    /* 비주얼 캐릭터 모션 */
    .visual .motion {display: none;}


    /* 지역별 관광 */
    .local {width: 100%;}
    .local .local_div {
        position: relative;
        margin: 13% 0%;
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .local .local_div > p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }


    .local .local_div .area {width: 100%;}

    .local .local_div .area .map {
        display: inline-block;
        width: 32%; padding-left: 8%;
        animation: map 1s;
        transform: scale(1.4) translate(0,0);
        display: none;
    }

    @keyframes map {
        0% {
            transform: scale(1) translate(75%, 10%);
        }
        50% {
            transform: scale(1.4) translate(75%, 10%);
        }
        100% {
            transform: scale(1.4) translate(0,0);
        }
        
    }
    /* 지도 */
    .local .local_div .area .map >svg { width: 100%;}
    .local .local_div .area .map >svg path {}

    /* 서울 인천 경기 area-1*/
    .local .local_div .area .map .area-1 {}
    .local .local_div .area .map .area-1:hover path, .local .local_div .area .map .area-1:hover polygon {
        fill: #56ade2;
        filter: drop-shadow(0px 15px 10px -1px rgba(15, 15, 5, 0.4)) ;
        transform: translate(-1%, -1%); transition: .2s;
    }


    /* 강원 area-2*/
    .local .local_div .area .map .area-2 {}
    .local .local_div .area .map .area-2 path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }
    .local .local_div .area .map .area-2:hover path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }


    /* 대전 세종 충북 충남 area-3 */
    .local .local_div .area .map .area-3 {}
    .local .local_div .area .map .area-3:hover path, .local .local_div .area .map .area-3:hover polygon {
        fill: #69c071;
        transform: translate(-1%, 0%); transition: .2s;
    }


    /* 경북 경남 대구 울산 부산 area-4 */
    .local .local_div .area .map .area-4 {}
    .local .local_div .area .map .area-4:hover path {
        fill: #fdce4a;
        transform: translate(+1%, +1%); transition: .2s;
    }


    /* 전북 전남 광주 area-5 */
    .local .local_div .area .map .area-5 {
    }
    .local .local_div .area .map .area-5:hover path, .local .local_div .area .map .area-5:hover polygon{
        fill: #bc95c4;
        transform: translate(-1%, +1%); transition: .2s;
    }


    /* 제주 area-6 */
    .local .local_div .area .map .area-6 {}
    .local .local_div .area .map .area-6:hover path {
        fill: #44c2bc;
        transform: translate(1%, -1%); transition: .2s;
    }



    /* 정보 */
    .local .local_div .area .map_info {
        display: inline-block;
        margin: 5% 0 0;
        padding: 0 10%;
        width: 100%;
        vertical-align: top;
        animation: map_info 1.5s;
    }

    @keyframes map_info {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    .local .local_div .area .map_info > p:nth-of-type(1) {
        padding: 0;
        display: inline-block; width: 100%;

        background: #f2d1ce;
        font-size: 1rem;
        font-weight: 549;
        line-height: 2;
        text-align: center;

    }
    .local .local_div .area .map_info > p:nth-of-type(2) {
        line-height: 1.8;
        margin: 7% 0 9%;
        text-align: center;
        word-break: keep-all;
    }
    .local .local_div .area .map_info .map_list {
        display: flex; justify-content: space-between; align-items: center;  flex-wrap: wrap;
    }
    .local .local_div .area .map_info .map_list >a {
        display: block; width: 46%; margin: 5% 0;
    }
    .local .local_div .area .map_info .map_list >a figure{
        display: flex; flex-direction: column;
    }
    .local .local_div .area .map_info .map_list >a figure:hover img{
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
    }
    .local .local_div .area .map_info .map_list >a figure:hover figcaption {
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
        background: #f8aa5b;
        font-weight: 600;
    }

    .local .local_div .area .map_info .map_list >a figure img {
        width: 100%; transition: .2s;
        border-radius: 8px;
    }
    .local .local_div .area .map_info .map_list >a figure figcaption {
        width: 100%;
        margin: 7% 0;

        border: 1px solid #878787;
        border-radius: 8px;
        text-align: center;
        line-height: 3;
        font-size: 0.9rem;
        transition: .2s;
    }


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 1%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:11%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 50%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:90%; margin:0 3%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 55%;
        display: flex; flex-direction: column;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 100%;
        padding: 15% 10%; margin: 4% 0;
    

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 9%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 0;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 80%;
        padding: 10%;
        display: flex; flex-direction: column;
    }
    .journal .journal_div ul li {width: 100%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin: 5% 0 15%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal; font-stretch: normal; font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
        word-break: keep-all;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}


}


/* reponsive2 */

@media (min-width:768px) and (max-width:1023px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        background: url('../img/main/visual-1.jpg') no-repeat center 89%/ 140%;
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 11%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 25% 0 0;
    }

    .visual .slide a {
        display: block;
        width: 2%;
        margin: 0 0.5%;
        border-radius: 20px;
    }
    .visual .slide a span {
        display: block;
        height: 2px; 
        font-size: 0.1rem; 
        color: transparent;
        background: black; 
    }
    .visual .slide a:nth-child(1) span {background:#f78b1e ;}

    /* 비주얼 캐릭터 모션 */
    .visual .motion {display: none;}


    /* 지역별 관광 */
    .local {width: 100%;}
    .local .local_div {
        position: relative;
        margin: 13% 0%;
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .local .local_div > p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }


    .local .local_div .area {width: 100%;}

    .local .local_div .area .map {
        display: inline-block;
        width: 32%; padding-left: 8%;
        animation: map 1s;
        transform: scale(1.4) translate(0,0);
        display: none;
    }

    @keyframes map {
        0% {
            transform: scale(1) translate(75%, 10%);
        }
        50% {
            transform: scale(1.4) translate(75%, 10%);
        }
        100% {
            transform: scale(1.4) translate(0,0);
        }
        
    }
    /* 지도 */
    .local .local_div .area .map >svg { width: 100%;}
    .local .local_div .area .map >svg path {}

    /* 서울 인천 경기 area-1*/
    .local .local_div .area .map .area-1 {}
    .local .local_div .area .map .area-1:hover path, .local .local_div .area .map .area-1:hover polygon {
        fill: #56ade2;
        filter: drop-shadow(0px 15px 10px -1px rgba(15, 15, 5, 0.4)) ;
        transform: translate(-1%, -1%); transition: .2s;
    }


    /* 강원 area-2*/
    .local .local_div .area .map .area-2 {}
    .local .local_div .area .map .area-2 path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }
    .local .local_div .area .map .area-2:hover path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }


    /* 대전 세종 충북 충남 area-3 */
    .local .local_div .area .map .area-3 {}
    .local .local_div .area .map .area-3:hover path, .local .local_div .area .map .area-3:hover polygon {
        fill: #69c071;
        transform: translate(-1%, 0%); transition: .2s;
    }


    /* 경북 경남 대구 울산 부산 area-4 */
    .local .local_div .area .map .area-4 {}
    .local .local_div .area .map .area-4:hover path {
        fill: #fdce4a;
        transform: translate(+1%, +1%); transition: .2s;
    }


    /* 전북 전남 광주 area-5 */
    .local .local_div .area .map .area-5 {
    }
    .local .local_div .area .map .area-5:hover path, .local .local_div .area .map .area-5:hover polygon{
        fill: #bc95c4;
        transform: translate(-1%, +1%); transition: .2s;
    }


    /* 제주 area-6 */
    .local .local_div .area .map .area-6 {}
    .local .local_div .area .map .area-6:hover path {
        fill: #44c2bc;
        transform: translate(-1%, -1%); transition: .2s;
    }



    /* 정보 */
    .local .local_div .area .map_info {
        display: inline-block;
        margin: 5% 0 0;
        padding: 0 10%;
        width: 100%;
        vertical-align: top;
        animation: map_info 1.5s;
    }

    @keyframes map_info {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    .local .local_div .area .map_info > p:nth-of-type(1) {
        padding: 0;
        display: inline-block; width: 100%;

        background: #f2d1ce;
        font-size: 1rem;
        font-weight: 549;
        line-height: 2;
        text-align: center;

    }
    .local .local_div .area .map_info > p:nth-of-type(2) {
        line-height: 1.8;
        margin: 7% 0 3%;
        text-align: center;
        word-break: keep-all;
    }
    .local .local_div .area .map_info .map_list {
        display: flex; justify-content: space-between; align-items: center;  flex-wrap: wrap;
    }
    .local .local_div .area .map_info .map_list >a {
        display: block; width: 46%; margin: 5% 0;
    }
    .local .local_div .area .map_info .map_list >a figure{
        display: flex; flex-direction: column;
    }
    .local .local_div .area .map_info .map_list >a figure:hover img{
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
    }
    .local .local_div .area .map_info .map_list >a figure:hover figcaption {
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
        background: #f8aa5b;
        font-weight: 600;
    }

    .local .local_div .area .map_info .map_list >a figure img {
        width: 100%; transition: .2s;
        border-radius: 8px;
    }
    .local .local_div .area .map_info .map_list >a figure figcaption {
        width: 100%;
        margin: 7% 0;

        border: 1px solid #878787;
        border-radius: 8px;
        text-align: center;
        line-height: 3;
        font-size: 0.9rem;
        transition: .2s;
    }



    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 1%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:6%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 51%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:40%; margin:0 3%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 95%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 55%;
        display: flex; flex-wrap: wrap; justify-content: space-evenly;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 45%;
        padding: 12% 4%; margin: 4% 0;
    

        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 15%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 0;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 80%;
        padding: 7% 1% 0;
        display: flex; justify-content: space-evenly; flex-wrap: wrap;
    }
    .journal .journal_div ul li {width: 45%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin: 5% 0 15%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal; font-stretch: normal; font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
        word-break: keep-all;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}

 
}


/* reponsive3 */
@media (min-width:1024px) and (max-width:1279px) {
    /* visual */
    header  {background: url('../img/main/visual-1.jpg') no-repeat 0 0/ 100%;}

    .visual {
        background: url('../img/main/visual-1.jpg') no-repeat 0 89%/ 100%;
        padding: 0 0 1%;
        display: flex; flex-direction: column;
        width: 100%;
    }
    .visual .indi { 
        width: 100%; 
        display: flex; justify-content: space-between;
        margin-top: 10%;
    }
    .visual .indi a { display:block; width: 3%; margin: 0 4%;}
    .visual .indi a:last-child { transform: rotateY(180deg);}

    .visual .indi a img {width: 100%;}
    .visual .slide { 
        display: flex; justify-content: center; align-items: center;
        margin: 18% 0 0;
    }


    .visual .slide a {
        display: block;
        width: 4%;
        margin: 0 1%;
        border-radius: 20px;
    }
    .visual .slide a span {
        display: block;
        height: 2px; 
        font-size: 0.1rem; 
        color: transparent;
        background: black; 
    }
    .visual .slide a:nth-child(1) span {background:#f78b1e ;}


    /* 비주얼 캐릭터 모션 */
    .visual .motion {}
    .visual .motion img {position: absolute; width: 5%;}
    .visual .motion img:nth-child(1) {
        top: 0; left: -6%; 
        transform: rotate(0deg); 
        animation: motion1 6s 5s infinite ;
    }
    @keyframes motion1 {
        0% { left: -6%; transform: rotate(0deg);}
        70% { left: -3%; transform: rotate(55deg);}
        100% { left: -6%; transform: rotate(0deg);}
        
    }
    
    .visual .motion img:nth-child(2) {
        bottom: 0%; right: -14%; 
        width: 10%;
        transform: rotate(-90deg);
        animation: motion2 6s 5s infinite linear;
    }
    
    @keyframes motion2 {
        0% { right: -14%;}
        70% { right: -9%;}  
        100% { right: -14%;}  
    }
    
    /* 지역별 관광 */
    .local {width: 100%;}
    .local .local_div {
        position: relative;
        margin: 13% 10%;
        display: flex; 
        justify-content: center; align-items: center; flex-direction: column;
    }
    .local .local_div h4 {
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .local .local_div > p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 0.45px;
        color: #111111;
    }


    .local .local_div .area {width: 100%;}

    .local .local_div .area .map {
        display: inline-block;
        width: 32%; padding-left: 0%;
        animation: map 1s;
        transform: scale(1.3) translate(5%,-9%);
    }

    @keyframes map {
        0% {
            transform: scale(1) translate(75%, 10%);
        }
        50% {
            transform: scale(1.4) translate(75%, 10%);
        }
        100% {
            transform: scale(1.3) translate(5%,-9%);
        }
        
    }
    /* 지도 */
    .local .local_div .area .map >svg { width: 100%;}
    .local .local_div .area .map >svg path {}

    /* 서울 인천 경기 area-1*/
    .local .local_div .area .map .area-1 {}
    .local .local_div .area .map .area-1:hover path, .local .local_div .area .map .area-1:hover polygon {
        fill: #56ade2;
        filter: drop-shadow(0px 15px 10px -1px rgba(15, 15, 5, 0.4)) ;
        transform: translate(-1%, -1%); transition: .2s;
    }


    /* 강원 area-2*/
    .local .local_div .area .map .area-2 {}
    .local .local_div .area .map .area-2 path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }
    .local .local_div .area .map .area-2:hover path{
        fill: #e5a49e;
        transform: translate(+1%, -1%); transition: .2s;
    }


    /* 대전 세종 충북 충남 area-3 */
    .local .local_div .area .map .area-3 {}
    .local .local_div .area .map .area-3:hover path, .local .local_div .area .map .area-3:hover polygon {
        fill: #69c071;
        transform: translate(-1%, 0%); transition: .2s;
    }


    /* 경북 경남 대구 울산 부산 area-4 */
    .local .local_div .area .map .area-4 {}
    .local .local_div .area .map .area-4:hover path {
        fill: #fdce4a;
        transform: translate(+1%, +1%); transition: .2s;
    }


    /* 전북 전남 광주 area-5 */
    .local .local_div .area .map .area-5 {
    }
    .local .local_div .area .map .area-5:hover path, .local .local_div .area .map .area-5:hover polygon{
        fill: #bc95c4;
        transform: translate(-1%, +1%); transition: .2s;
    }


    /* 제주 area-6 */
    .local .local_div .area .map .area-6 {}
    .local .local_div .area .map .area-6:hover path {
        fill: #44c2bc;
        transform: translate(1%, -1%); transition: .2s;
    }



    /* 정보 */
    .local .local_div .area .map_info {
        display: inline-block;
        margin: 5% 0 0;
        padding-left: 8%;
        width: 67%;
        vertical-align: top;
        animation: map_info 1.5s;
    }

    @keyframes map_info {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }
    .local .local_div .area .map_info > p:nth-of-type(1) {
        padding: 0 2%;
        display: inline-block;

        background: #f2d1ce;
        font-size: 1.2rem;
        font-weight: 549;
        line-height: 2;
    }
    .local .local_div .area .map_info > p:nth-of-type(2) {
        line-height: 1.8;
        margin: 2% 0 5%;
    }
    .local .local_div .area .map_info .map_list {
        display: flex; justify-content: space-between; align-items: flex-start;
    }
    .local .local_div .area .map_info .map_list figure{
        display: flex; flex-direction: column;
    }
    .local .local_div .area .map_info .map_list figure:hover img{
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
    }
    .local .local_div .area .map_info .map_list figure:hover figcaption {
        box-shadow: 0px 15px 10px -1px rgba(15, 15, 5, 0.4);
        transform: translate(-0%, -5%);
        background: #f8aa5b;
        font-weight: 600;
    }

    .local .local_div .area .map_info .map_list figure img {
        width: 88%; transition: .2s;
        border-radius: 8px;
    }
    .local .local_div .area .map_info .map_list figure figcaption {
        width: 88%;
        margin: 7% 0;

        border: 1px solid #878787;
        border-radius: 8px;
        text-align: center;
        line-height: 3;
        font-size: 0.9rem;
        transition: .2s;
    }


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 3;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 1%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:11%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background: transparent;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 100%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:90%; margin:0 3%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* sns_section */
    .sns { width: 100%; padding:13% 0; background: rgba(8, 163, 209,0.33);}
    .sns .sns_div {width: 100%;}
    .sns .sns_div h4 { 
        width: 100%; text-align: center; padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        color: #111111;
    }
    .sns .sns_div p {
        width: 100%; text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: 0.45px;
        color: #111111;
    }

    .sns .sns_div .sns_slide{ padding: 0px; position: relative;}
    .sns .sns_div .sns_slide .indi{
        width: 100%; height:100%; padding: 0 10%; 
        display: flex; justify-content: space-between;
        position: absolute;
        pointer-events: none;
    }
    .sns .sns_div .sns_slide .indi a{
        width:11%; height:100%;
        display:flex;
        justify-content: center;    
        align-items: center;
        pointer-events:fill;
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(1){
        background:linear-gradient(90deg,rgb(174, 225, 240),rgba(174, 225, 240,0.5));
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2){
        background:linear-gradient(90deg,rgba(174, 225, 240,0.5),rgb(174, 225, 240));
    }
    .sns .sns_div .sns_slide .indi a:nth-of-type(2) img{
        transform: rotate(180deg);
    }
    .sns .sns_div .sns_slide .indi a img{display: block; width: 30%;}

    .sns .sns_div .sns_slide ul { 
        width: 80%; margin: 0 auto; padding:4% 0 ;
        overflow: hidden;
        display: flex; justify-content: center;
    }
    .sns .sns_div .sns_slide ul li {
        width:22%; margin:0 1.7%; flex:0 0 auto;
        transition:.3s;
    }

    .sns .sns_div .sns_slide ul li a {display: block; width: 100%;}
    .sns .sns_div .sns_slide ul li a img {display: block; width: 100%;}

    .sns .sns_div .sns_slide ul li:hover{
        transform: scale(1.2); margin:0 3%;
    }


    /* 두레소식 */

    .news {width: 100%;}
    .news .news_div {width: 80%; margin: 0 auto; padding: 16% 0 0;}
    .news .news_div h4{
        padding: 0 0 1%;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.39;
        letter-spacing: 0.9px;
        text-align: center;
        color: #111111;
    }
    .news .news_div p{
        margin: 0 0 5%;
        font-family:'Noto Sans KR', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height:2;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    .news .news_div .news_list {
        width: 100%; padding-bottom: 200px;
        display: flex; justify-content: center;
    }
    .news .news_div .news_list li {
        position: relative; 
        width: 29%;
        padding: 4% 4% 6% 4%; margin: 2%;
    

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.5px;
        text-align: left;
        color: #111111;
        word-break: keep-all;
        transition:.5s;

    }
    .news .news_div .news_list li::before {
        content:'';
        border: 1px solid #64605f; 
        width:100%; height:100%;
        position:absolute; left:0; top:0;   
        transition:.2s;
    }
    /* 소식 hover border */
    .news .news_div .news_list li:hover::before {
        border: 9.6px solid #f68b1e ;
    }
    .news .news_div .news_list li a img {
        position: absolute; opacity: 0.3;
    }
    .news .news_div .news_list li a:first-child img {
        right: 0; top: 0; margin: 6%;
        transform: rotate(0); 
    }
    .news .news_div .news_list li a:last-child img {
        right: 0; bottom: 0;
        width: 15%; margin: 5%;
    }
    /* 소식 hover */
    .news .news_div .news_list li:hover {
        
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate(-0%, -5%);
    }
    .news .news_div .news_list li:hover a img {opacity: 0.7;}
    .news .news_div .news_list li:hover a:first-child img {
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }


    /* 간행물*/
    .journal {width: 100%; }
    .journal .journal_div { 
        width: 100%; margin: 0 0 18%;
        position: relative; 
        display: flex; justify-content: flex-end;
    }
    .journal .journal_div .journal_title { }
    .journal .journal_div .journal_title h4 {
        writing-mode: vertical-lr;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 14px;
        text-align: center;
        color: #111111;
    }
    .journal .journal_div .journal_title a {display: block; text-align: center; transform: rotate(0);}
    .journal .journal_div .journal_title a img {opacity: 0.5;} 
    .journal .journal_div ul {
        background: rgba(8, 163, 209, 0.67); width: 64%;
        padding: 5%;
        display: flex; justify-content: space-between; align-items: baseline;
    }
    .journal .journal_div ul li {width: 30%;}
    .journal .journal_div ul li figure {position: relative;}
    .journal .journal_div ul li figure img {
        display: block; width: 100%;
    }
    .journal .journal_div ul li figure::after {
        content: url("../img/main/clip_white.png");
        display: flex; justify-content: center; align-items: center;
        position: absolute; top: 0; left: 0;
        background: rgba(0, 0, 0, 0.5) ;
        width: 100%; height: 100%;
        z-index: -1;
    }

    .journal .journal_div ul li p {
        margin-top: 10%;

        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: 0.45px;
        text-align: center;
        color: #111111;
    }
    /* 간행물 hover */
    .journal .journal_div .journal_title a:hover img {
        opacity: 0.7;
        background-color: #f68b1e;
        border-radius: 50%;
        transform: rotate(90deg); transition: 0.5s;
    }

    .journal .journal_div ul li figure:hover::after {z-index: 1;}

}