@charset "utf-8";
@import url('common.css');




/* visual */
.visual {width: 100%; font-size: 0;}
.visual img {width: 100%;}


/* menu_main */
.menu_div { 
    width: 100%;
}
.menu_div ul li a {
    display: inline-block; width: 100%;
}
.menu_div ul:first-child {
    width: 100%; background: #52c3de; 
    display: flex; justify-content: center;
    }
.menu_div ul:first-child li {
    width: 10%; 
    position: relative;
    text-align: center;   
}
.menu_div ul:first-child li a {
    font-family: 'Lato', sans-serif;
    line-height: 2.5; font-size: 1rem; font-weight: 600;
}

/* menu_main hover ??? hover후에도 계속 서브메뉴가 나오게 */
.menu_div ul:first-child li a.active {background: white;}
.menu_div ul:first-child li a:hover {background:rgb(214, 211, 211)}
.menu_div ul:first-child:hover ~ ul:last-child {opacity: 1;} /*뭐지이건??*/


/* menu_sub */
.menu_div ul:last-child  {
    margin: 10% 0 0 0;
    width: 100%;  opacity: 1;
    display: flex; justify-content: center;
}
.menu_div ul:last-child li {
    width: 8%; 
    text-align: center; 
}
.menu_div ul:last-child li a {
    display: inline-block; width: 100%;
    line-height: 2.5;
    font-size: 1.2rem;
    border-radius: 10px 10px 0 0;

}
.menu_div ul:last-child li a.active {
    background-color:#f68b1e;
    color: ivory;
}
.menu_div ul:last-child li a:hover {background: #f68b1e;}

/* mobile menu select */
.select_main {display: none;}
.select_sub {display: none;}



/* list items */
.list {
    padding-bottom: 16%;
    position: relative;
}
.list::after {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    background: url("../img/character/charac6.png") no-repeat 99% 106%;
    background-size: 32%;
    opacity: 0.8;
}
.list .items_1_1 {}
.list .items_1_1 >ul {
    margin: 2% 20% 3% 20%;
    display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;
}
.list .items_1_1 >ul>li {
    position: relative;
    width: 25%; margin: 3%;
}
.list .items_1_1 >ul>li a{} /* 링크걸기용 */
.list .items_1_1 >ul>li a figure { 
    position: relative;
    width: 100%; 
    border-radius: 10px; overflow: hidden; }


.list .items_1_1 >ul>li a figure::after {
    content: '';
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
    border: 0px solid #f68b1e;
}
/* list items hover */
.list .items_1_1 >ul>li a figure:hover {
    box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
    transform: translate( 0, -3%); transition: .5s;
}
.list .items_1_1 >ul>li a figure:hover figcaption {
    font-weight: bolder;
}
.list .items_1_1 >ul>li a figure:hover::after {
    border: 5px solid #f68b1e;
}

.list .items_1_1 >ul>li a figure img {
    display: block; border-radius: 10px;
    width: 100%;
}
.list .items_1_1 >ul>li a figure figcaption { 
    text-align: center;
    font-size: 0.9rem; font-family: 'Lato', sans-serif;
    margin: 5% 0 5%;
}
.list .items_1_1 >ul>li a p {
    position: absolute; left: 0%; top: 0%;
    padding: 3%;
    font-size: 0.8rem; color: white;
    background: #e6b27e;
    border-radius: 7px;
}
.list .items_1_1 >ul>li a figure:hover + p {
    left:0; top: -3%; transition: .5s;
}

/* 페이지 */
.list .more {
    width: 100%; 
    display: flex; justify-content: center; align-items: center;
}
.list .more a {
    display: block; width: 36%;
    border: 1px solid rgb(110, 108, 108); border-radius: 5px;
    padding: 0.5% 0;
    font-size: 1rem; font-family:'Lato', sans-serif;
    text-align: center; color: rgb(110, 108, 108);
}
.list .more a:hover {background:#e99d52; color: white;}

/* responsive */
@media (max-width:767px) {
    /* visual */
    .visual {font-size: 0; width: 100%; overflow: hidden;}
    .visual img {
        width: 200%;
        transform: translateX(-25%);
        padding: 0;
    }


    /* menu_main */
    .menu_div { 
        width: 100%; display: flex; 
    }
    .menu_div ul li a {
        display: inline-block; width: 100%;
    }
    .menu_div ul:first-child {
        width: 100%; background: #52c3de; 
        display: flex; justify-content: center; flex-direction: column;
        }
    .menu_div ul:first-child li {
        width: 100%; 
        position: relative;
        text-align: center;   
    }
    .menu_div ul:first-child li a {
        font-family: 'Lato', sans-serif;
        line-height: 2.5; font-size: 1rem; font-weight: 600;
    }

    /* menu_main hover ??? hover후에도 계속 서브메뉴가 나오게 */
    .menu_div ul:first-child li:hover {background: white;}
    .menu_div ul:first-child:hover ~ ul:last-child {opacity: 1;}


    /* menu_sub */
    .menu_div ul:last-child  {
        margin: 0;
        width: 100%;  opacity: 1;
        display: flex; justify-content: center; flex-direction: column;
    }
    .menu_div ul:last-child li {
        width: 100%; 
        text-align: center; 
    }
    .menu_div ul:last-child li:nth-child(2) {display: none;}
    .menu_div ul:last-child li:nth-child(3) {display: none;}
    .menu_div ul:last-child li:nth-child(4) {display: none;}
    .menu_div ul:last-child li a {
        display: inline-block; width: 100%;
        line-height: 2.5;
        font-size: 1rem;
    }
    .menu_div ul:last-child li a:hover {color:#08a3d1;}

    /* mobile menu select */
    .select_main {
        width: 100%; height: 100%;
        position: fixed; top: 0; left: 0;
        background: rgb(105, 104, 104);
        display: flex; justify-content: center; align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;

        display: none;

    }
    .select_main li {
        width: 80%;
        background: white;
        font-size: 1.5rem;
        padding: 2% 0;
        border: 1px solid rgb(87, 86, 86);
    }
    .select_main li a {display: block; width: 100%;}
    .select_main.active {display: flex;}

    .select_sub {
        width: 100%; height: 100%;
        position: fixed; top: 0; left: 0;
        background: rgba(99, 96, 96,0.8);
        display: flex; justify-content: center;  align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;

        display: none;
    }
    .select_sub li {
        width: 80%;
        background: white;
        font-size: 1.5rem;
        padding: 2% 0;
        border: 1px solid rgb(87, 86, 86);
    }
    .select_sub li a {width: 100%;}
    .select_sub.active {display: flex;}



    /* list items */
    .list {
        padding:13% 0 16%;
        position: relative;
    }
    .list::after {
        content: '';
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: -1;
        background: url("../img/character/charac6.png") no-repeat 104% 106%;
        background-size: 32%;
        opacity: 0.8;
    }

    .list .items_1_1 {}
    .list .items_1_1 >ul {
        margin: 2%;
        display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;
    }
    .list .items_1_1 >ul>li {
        position: relative;
        width: 43%; margin: 0 0 6%;
    }
    .list .items_1_1 >ul>li:last-child {}
    .list .items_1_1 >ul>li a{} /* 링크걸기용 */
    .list .items_1_1 >ul>li a figure { 
        position: relative;
        width: 100%; 
        border-radius: 10px; overflow: hidden; }
    .list .items_1_1 >ul>li a figure::after {
        content: '';
        width: 100%; height: 100%;
        position: absolute; left: 0; top: 0;
        border: 0px solid #f68b1e;
    }
    /* list items hover */
    .list .items_1_1 >ul>li a figure:hover {
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate( 0, -3%); transition: .5s;
    }
    .list .items_1_1 >ul>li a figure:hover figcaption {
        font-weight: bolder;
    }
    .list .items_1_1 >ul>li a figure:hover::after {
        border: 5px solid #f68b1e;
    }

    .list .items_1_1 >ul>li a figure img {
        display: block; border-radius: 10px;
        width: 100%;
    }
    .list .items_1_1 >ul>li a figure figcaption { 
        text-align: center;
        font-size: 0.9rem; font-family: 'Lato', sans-serif;
        margin: 5% 0 5%;
    }
    .list .items_1_1 >ul>li a p {
        position: absolute; left: 0%; top: 0%;
        padding: 3%;
        font-size: 0.8rem; color: white;
        background: #e6b27e;
        border-radius: 7px;
    }
    .list .items_1_1 >ul>li a figure:hover + p {
        left:0; top: -3%; transition: .5s;
    }

    /* 페이지 */
    .list .more {
        width: 100%; 
        display: flex; justify-content: center; align-items: center;
    }
    .list .more a {
        display: block; width: 36%;
        border: 1px solid rgb(177, 172, 172); border-radius: 5px;
        padding: 0.5% 0;
        font-size: 1rem; font-family:'Lato', sans-serif;
        text-align: center; color: rgb(131, 125, 125);
    }
    .list .more a:hover {background:#f68b1e;}
    
}

/* responsive2 */
@media (min-width:768px) and (max-width:1023px) {
    /* visual */
    .visual {font-size: 0; width: 100%; overflow: hidden;}
    .visual img {
        width: 200%;
        transform: translateX(-25%);
        padding: 0;
    }

    /* menu_main */
    .menu_div { 
        width: 100%; display: flex; 
    }
    .menu_div ul li a {
        display: inline-block; width: 100%;
    }
    .menu_div ul:first-child {
        width: 100%; background: #52c3de; 
        display: flex; justify-content: center; flex-direction: column;
        }
    .menu_div ul:first-child li {
        width: 100%; 
        position: relative;
        text-align: center;   
    }
    .menu_div ul:first-child li:nth-child(2) {display: none;}
    .menu_div ul:first-child li:nth-child(3) {display: none;}
    .menu_div ul:first-child li:nth-child(4) {display: none;}
    .menu_div ul:first-child li:nth-child(5) {display: none;}
    .menu_div ul:first-child li:nth-child(6) {display: none;}
    .menu_div ul:first-child li a {
        font-family: 'Lato', sans-serif;
        line-height: 2.5; font-size: 1rem; font-weight: 600;
    }

    /* menu_main hover ??? hover후에도 계속 서브메뉴가 나오게 */
    .menu_div ul:first-child li:hover {background: white;}
    .menu_div ul:first-child:hover ~ ul:last-child {opacity: 1;}


    /* menu_sub */
    .menu_div ul:last-child  {
        margin: 0;
        width: 100%;  opacity: 1;
        display: flex; justify-content: center; flex-direction: column;
    }
    .menu_div ul:last-child li {
        width: 100%; 
        text-align: center; 
    }
    .menu_div ul:last-child li:nth-child(2) {display: none;}
    .menu_div ul:last-child li:nth-child(3) {display: none;}
    .menu_div ul:last-child li:nth-child(4) {display: none;}
    .menu_div ul:last-child li a {
        display: inline-block; width: 100%;
        line-height: 2.5;
        font-size: 1rem;
    }
    .menu_div ul:last-child li a:hover {color:#08a3d1;}

    /* mobile menu select */
    .select_main {
        width: 100%; height: 100%;
        position: fixed; top: 0; left: 0;
        background: rgb(105, 104, 104);
        display: flex; justify-content: center; align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;

        display: none;

    }
    .select_main li {
        width: 80%;
        background: white;
        font-size: 1.5rem;
        padding: 2% 0;
        border: 1px solid rgb(87, 86, 86);
    }
    .select_main li a {display: block; width: 100%;}
    .select_main.active {display: flex;}

    .select_sub {
        width: 100%; height: 100%;
        position: fixed; top: 0; left: 0;
        background: rgba(99, 96, 96,0.8);
        display: flex; justify-content: center;  align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;

        display: none;
    }
    .select_sub li {
        width: 80%;
        background: white;
        font-size: 1.5rem;
        padding: 2% 0;
        border: 1px solid rgb(87, 86, 86);
    }
    .select_sub li a {width: 100%;}
    .select_sub.active {display: flex;}


    /* list items */
    .list {
        padding-bottom: 16%;
        position: relative;
    }
    .list::after {
        content: '';
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: -1;
        background: url("../img/character/charac6.png") no-repeat 99% 106%;
        background-size: 32%;
        opacity: 0.8;
    }

    
    .list .items_1_1 {}
    .list .items_1_1 >ul {
        margin: 8% 2% 0;
        display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap;
    }
    .list .items_1_1 >ul>li {
        position: relative;
        width: 27%; margin: 0 0 6%;
    }
    .list .items_1_1 >ul>li a{} /* 링크걸기용 */
    .list .items_1_1 >ul>li a figure { 
        position: relative;
        width: 100%; 
        border-radius: 10px; overflow: hidden; }
    .list .items_1_1 >ul>li a figure::after {
        content: '';
        width: 100%; height: 100%;
        position: absolute; left: 0; top: 0;
        border: 0px solid #f68b1e;
    }
    /* list items hover */
    .list .items_1_1 >ul>li a figure:hover {
        box-shadow: 0px 15px 10px -1px rgba(17, 17, 17, 0.4);
        transform: translate( 0, -3%); transition: .5s;
    }
    .list .items_1_1 >ul>li a figure:hover figcaption {
        font-weight: bolder;
    }
    .list .items_1_1 >ul>li a figure:hover::after {
        border: 5px solid #f68b1e;
    }

    .list .items_1_1 >ul>li a figure img {
        display: block; border-radius: 10px;
        width: 100%;
    }
    .list .items_1_1 >ul>li a figure figcaption { 
        text-align: center;
        font-size: 0.9rem; font-family: 'Lato', sans-serif;
        margin: 5% 0 5%;
    }
    .list .items_1_1 >ul>li a p {
        position: absolute; left: 0%; top: 0%;
        padding: 3%;
        font-size: 0.8rem; color: white;
        background: #e6b27e;
        border-radius: 7px;
    }
    .list .items_1_1 >ul>li a figure:hover + p {
        left:0; top: -3%; transition: .5s;
    }

    /* 페이지 */
    .list .more {
        width: 100%; 
        display: flex; justify-content: center; align-items: center;
    }
    .list .more a {
        display: block; width: 36%;
        border: 1px solid rgb(177, 172, 172); border-radius: 5px;
        padding: 0.5% 0;
        font-size: 1rem; font-family:'Lato', sans-serif;
        text-align: center; color: rgb(131, 125, 125);
    }
    .list .more a:hover {background:#f68b1e;}

}